<%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
  <i class="fa fa-envelope-o"></i>
  <span class="label label-success"><%= user_messages.size %></span>
<% end %>
<ul class="dropdown-menu">
  <li class="header">Tienes <%= user_messages.size %> mensajes</li>
  <li>
    <ul class="menu">
      <% user_messages.each do |message| %>
      <li>
        <%= link_to '#' do %>
          <div class="pull-left">
              <%= gravatar_for(message.from, { class: 'img-circle' }) %>
          </div>
          <h4>
              <%= message.from.name %>
              <small><i class="fa fa-clock-o"></i> <%= time_ago_in_words(message.created_at) %></small>
          </h4>
          <p><%= message.subject  %></p>
        <% end %>
      <% end %>
    </ul>
  </li>
  <li class="footer"><%= link_to 'Ver todos los mensajes', '#' %></li>
</ul>