<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
		<h3>Crear nueva categor&iacute;a de instrumento</h3>
      </div>
	  <%= form_for(@instrument_category, role: 'form') do |f|  %>
		<div class="box-body">
		  <%= render 'shared/error_messages', object: f.object %>
		  <div class="form-group">
			<%= f.label :name, class: 'control-label' %>
			<%= f.text_field :name, class: 'form-control' %>
		  </div>
        </div>
		<div class="box-footer">
		  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
		  <%= link_to 'Cancelar', instrument_categories_path, class: 'btn btn-link' %>
		</div>
	  <% end %>
    </div>
  </div>
</div>